* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #252525; */
}
.container-card {
  width: 900px;
  height: 500px;
  background-color: #181C1F;
  border-radius: 1pc;
  display: flex;
}
/* .light {
  background-color: black;
  color: white;
} */

p{
  margin: 10px;
  color: #FCF5E3;
  text-shadow: 0 0 50px white;
}

.card-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1pc;
}

.card-user img{
  width: 250px;
}

.card-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 0.1px solid black,;
  padding: 20px;
  gap: 3pc;
  }

h1,h2{
  text-shadow: 0 0 50px white;
  color:#FCF5E3;
}

/* .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.user-photo {
  width: 200px;
  border-radius: 10%;
}
.photo ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
ul img {
  width: 40px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
} */
button {
  align-self: center;
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 100px;
  padding: 10px 25px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background-color: #fff;
}